<div class="container" fxFlex="100" fxFlexFill>
    <div fxFlex="10"></div>
    <!--Meio-->
    <div class="grid" fxFlex="80" fxLayoutGap="25px" fxLayout="row wrap">
            <h1 fxFlex="100" fxFlexFill fxLayoutAlign="space-between">
                <span>
                    <mat-icon class="material-icons icon-home">
                        how_to_reg
                    </mat-icon> 
                    Alunos
                </span>

                <button mat-mini-fab routerLink="/" aria-label="Voltar">
                    <mat-icon>home</mat-icon>
                </button>
            </h1>
            <p>Alunos works!</p>
    </div>
    <div fxFlex="10"></div>
</div>