<mat-sidenav-container
    class="example-container"
    (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav
    (keydown.escape)="close('escape')"
    disableClose>
    <p>
        <button style="position:absolute;left:155px;top:5px;" mat-icon-button
            (click)="close('toggle button')">
            <mat-icon>close</mat-icon>
        </button>
    </p>
    <mat-list style="width:200px;" role="list">
      <mat-list-item style="margin-top:30px;cursor:pointer;" routerLink="/">
        <mat-icon class="material-icons">
          home
        </mat-icon> 
        <span style="margin-left:10px;">Home</span>
      </mat-list-item>
      <mat-list-item style="cursor:pointer;" routerLink="/alunos">
        <mat-icon class="material-icons">
          how_to_reg
        </mat-icon> 
        <span style="margin-left:10px;">Alunos</span>
      </mat-list-item>
      <mat-list-item style="cursor:pointer;" routerLink="/professores">
        <mat-icon class="material-icons">
          supervised_user_circle
        </mat-icon> 
        <span style="margin-left:10px;">Professores</span>
      </mat-list-item>
    </mat-list>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z3">
        <button (click)="sidenav.open()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Desafio Digital Innovation One - Sistema Escolar</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
