<mat-toolbar fxFlex="100" fxFlexFill fxLayout="row wrap" fxLayoutAlign="space-beetween center">
    <button fxLayoutAlign="start center" [matMenuTriggerFor]="menu" fxFlex="3" fxFlexFill mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button routerLink="/alunos" mat-menu-item>Alunos</button>
        <button mat-menu-item>Professores</button>
    </mat-menu>
    <span fxFlex="92" fxFlexFill>Desafio Digital Innovation One - Sistema Escolar</span>
    <button fxLayoutAlign="end center" fxFlex="5" fxFlexFill mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>